# ============================================
# Project dependencies
# ============================================

transformers
torch
pypdf
joblib
scikit-learn
pandas
datasets
accelerate
seqeval
accelerate>=1.1.0
seqevalpymupdf
